body {
  background-color: #0b0e11;
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App img {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 25vh;
  width: 45vh;
  height: 45vh;
}

button {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 16px;
  background-color: gold;
  border: 1px gold solid;
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
  color: #0b0e11;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ffe138;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

footer a {
  color: #ffd700;
}
